//! **************************************************************************
// Written by: Map P.20131013 on Thu Oct 15 15:00:22 2020
//! **************************************************************************

SCHEMATIC START;
COMP "COM0" LOCATE = SITE "P44" LEVEL 1;
COMP "Clock_P45" LOCATE = SITE "P55" LEVEL 1;
COMP "A" LOCATE = SITE "P41" LEVEL 1;
COMP "B" LOCATE = SITE "P40" LEVEL 1;
COMP "C" LOCATE = SITE "P35" LEVEL 1;
COMP "D" LOCATE = SITE "P34" LEVEL 1;
COMP "E" LOCATE = SITE "P32" LEVEL 1;
COMP "F" LOCATE = SITE "P29" LEVEL 1;
COMP "G" LOCATE = SITE "P27" LEVEL 1;
SCHEMATIC END;

